extends layout

block content
    h1.
        NailPolish Item List
    ul
        each item, i in NailPolish
            li SNo: #{item.SNO}, Brand: #{item.Brand}, Color: #{item.Color}, Price: #{item.Price}