extends layout

block content
    h1.
        Refrigerator Item List
    ul
        each item, i in Refrigerator
            li Model: #{item.Model} Brand: #{item.Brand}, Color: #{item.Color}, Type: #{item.Type}